<div class="aboutCars">
    <h2 class="about">A propos de Tesla</h2>
    <p class="cars">Ce qui différencie Tesla des autres voitures classiques, c'est sa capacité à etre :</p>
    <div #swiperContainer class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <video autoplay>
                    <source srcset="" type="image/mp4">
                </video>
                <p class="capacity">Autonome</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <img src="/assets/picts/teslaLogo.png" class="img-fluid w-100" alt="teslaLogo">
        <p class="copy">© Tesla 2023</p>
        <button type="button" id="btnContact" data-bs-toggle="modal" data-bs-target="#contactCar">CONTACT</button>
    </div>
</div>
