<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="showCars" [style.background-image]="'url(' + firstCar + ')'" style="height: 800px; background-repeat: no-repeat; background-position: center; background-size: cover;">
                <div class="navbar navbar-expand navbar-lg" style="justify-content: space-between;">
                    <div class="navbar-brand">
                        <p class="title">TESLA</p>
                    </div>
                    <div class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link">ACHATS</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">MODELS</a></li>
                        <button type="button" id="btnAccount">SE CONNECTER</button>
                    </div>
                </div>
            </div>
        </div>
      <div class="swiper-slide">
        <div class="showCars" [style.background-image]="'url(' + secondCar + ')'" style="height: 800px; background-repeat: no-repeat; background-position: center; background-size: cover;">
                <div class="navbar navbar-expand navbar-lg" style="justify-content: space-between;">
                    <div class="navbar-brand">
                        <p class="title">TESLA</p>
                    </div>
                    <div class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link">ACHATS</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">MODELS</a></li>
                        <button type="button" id="btnAccount">SE CONNECTER</button>
                    </div>
                </div>
            </div>
      </div>
      <div class="swiper-slide">
        <div class="showCars" [style.background-image]="'url(' + thirdCar + ')'" style="height: 800px; background-repeat: no-repeat; background-position: center; background-size: cover;">
                <div class="navbar navbar-expand navbar-lg" style="justify-content: space-between;">
                    <div class="navbar-brand">
                        <p class="title">TESLA</p>
                    </div>
                    <div class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link">ACHATS</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">MODELS</a></li>
                        <button type="button" id="btnAccount">SE CONNECTER</button>
                    </div>
                </div>
            </div>
      </div>
      <div class="swiper-slide">
        <div class="showCars" [style.background-image]="'url(' + fourCar + ')'" style="height: 800px; background-repeat: no-repeat; background-position: center; background-size: cover;">
                <div class="navbar navbar-expand navbar-lg" style="justify-content: space-between;">
                    <div class="navbar-brand">
                        <p class="title">TESLA</p>
                    </div>
                    <div class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link">ACHATS</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">MODELS</a></li>
                        <button type="button" id="btnAccount">SE CONNECTER</button>
                    </div>
                </div>
            </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
