<div #swiperContainer class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="showCars" style="height: 860px; background-repeat: no-repeat; background-position: center; background-size: cover; background-image: url('/assets/picts/teslaFirst.jpg');">
                <div class="navbar navbar-expand navbar-lg" style="justify-content: space-between;">
                    <div class="navbar-brand">
                        <p class="title">TESLA</p>
                    </div>
                    <button type="button" id="btnBars" data-bs-toggle="offcanvas" data-bs-target="#showMenus"><i class="fas fa-bars"></i></button>
                    <div class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link">ACHATS</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">MODELS</a></li>
                        <button type="button" id="btnAccount">SE CONNECTER</button>
                    </div>
                </div>
            </div>
        </div>
      <div class="swiper-slide">
        <div class="showCars" style="height: 860px; background-repeat: no-repeat; background-position: center; background-size: cover; background-image: url('/assets/picts/teslaSecond.jpg')">
                <div class="navbar navbar-expand navbar-lg" style="justify-content: space-between;">
                    <div class="navbar-brand">
                        <p class="title">TESLA</p>
                    </div>
                    <div class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link">ACHATS</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">MODELS</a></li>
                        <button type="button" id="btnAccount">SE CONNECTER</button>
                    </div>
                </div>
            </div>
      </div>
      <div class="swiper-slide">
        <div class="showCars" style="height: 860px; background-repeat: no-repeat; background-position: center; background-size: cover; background-image: url('/assets/picts/teslaThird.jpg')">
                <div class="navbar navbar-expand navbar-lg" style="justify-content: space-between;">
                    <div class="navbar-brand">
                        <p class="title">TESLA</p>
                    </div>
                    <div class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link">ACHATS</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">MODELS</a></li>
                        <button type="button" id="btnAccount">SE CONNECTER</button>
                    </div>
                </div>
            </div>
      </div>
      <div class="swiper-slide">
        <div class="showCars" style="height: 860px; background-repeat: no-repeat; background-position: center; background-size: cover; background-image: url('/assets/picts/teslaFour.jpg')">
                <div class="navbar navbar-expand navbar-lg" style="justify-content: space-between;">
                    <div class="navbar-brand">
                        <p class="title">TESLA</p>
                    </div>
                    <div class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link">ACHATS</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">MODELS</a></li>
                        <button type="button" id="btnAccount">SE CONNECTER</button>
                    </div>
                </div>
            </div>
      </div>
    </div>

</div>
