* {
    box-sizing: border-box;
}

body {
    display: block;
    margin: auto;
}

// MIXIN & ROOT
@mixin flex ($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
}

.navbar {
    padding: 10px;
    align-items: center;
    @include flex (row);
    justify-content: space-between;
    .navbar-brand {
        .title {
            font-size: 2.0em;
            font-family: tesla;
        }
    }
    .navbar-nav {
        column-gap: 60px;
        list-style-type: none;
        @include flex (row);
        .nav-item {
            .nav-link {
                font-family: tesla;
                text-decoration: none;
            }
        }
    }
}


@font-face {
    font-family: tesla;
    src: url('./app/fonts/TESLA.ttf');
}